.body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: whitesmoke;
    
}
.main {
    height: 100vh;
    width: 100vw;
    background: url("pictures/me.JPG") no-repeat center center fixed;
    background-size: 100vw;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.nav {
    position: absolute;
    position: fixed;
    top: 0px;
    width: 100vw;
    text-align: right;
    vertical-align: auto;
    background-color: black;
    
    padding-block: 30px;
    margin: 0px;
}

.nav a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    vertical-align: auto;
    font-size: 30px;
    color: whitesmoke;
    padding: 27px;
    margin: 0px;
}
.nav a:hover {
    color: #888;
}
.nav img {
    height:7%;
    width: 7%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.bio {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: monospace;
    text-align: center;
    background-color: whitesmoke;
}
.bio h1 {
    padding: 20px;
    margin: 0;
    font-family: monospace;
}
.bio p {
    padding: 20px;
    margin: 0;
}
.bio img {
    max-width: 50vw;
    max-height: 50vh;
}
